*,
*::before,
*::after {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #b9b4ac;
}

.container {
  display: flex;
  flex-direction: column;
  width: 490px;
  height: 85vh;
  border-radius: 20px;
  background: white;
  box-shadow: 37px 27px 45px 0px #6c8ba1;
  overflow: hidden;
  position: relative;
}

.game-info {
  background-color: #feeed4;
  height: 40px;
  border-bottom: 3px solid #6c8ba1;
  box-shadow: 0px 0px 12px 4px #6c8ba1;
  z-index: 10;
  padding: 10px 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.time,
.score {
  color: #005897;
  font-weight: 600;
}

.game-board {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(13, 1fr);
  background-color: #f4e2c4;
  flex-grow: 1;
}

.game-board > div {
  border: 1px dashed #6c8ba1;
}

div .snake-block {
  background: linear-gradient(to bottom right, #fef4cc, #d4f389 50%, #85c499);
  border: 1px solid #4e7f73;
  border-radius: 10px;
  box-shadow: 12px 6px 9px 1px #6c8ba1;
}

div .snake-block.head {
  background: linear-gradient(to bottom right, #fef4cc, #d4f389 50%, #85c499);
}

div .apple {
  background: linear-gradient(to bottom right, #f9ff8c, #f48134 50%, #e94630);
  border: 2px solid #8e0606;
  border-radius: 10px;
  box-shadow: 12px 6px 9px 1px #6c8ba1;
}

.end-screen {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #f4e2c4;
  opacity: 0.8;
  width: 100%;
  height: 100%;
}

.message {
  z-index: 10;
  font-size: 24px;
  font-weight: 600;
  font-weight: bold;
  text-align: center;
  color: #005897;
  position: relative;
}

.restart-btn {
  z-index: 10;
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: 600;
  color: #005897;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
  width: 200px;
  background: transparent;
  border: 4px solid #005897;
}

.restart-btn:hover {
  font-size: 19px;
}

.hide {
  display: none;
}
